@model Plants

<h2>Create a New Plant</h2>

@using (Html.BeginForm("InsertPlantToDatabase", "Plants", "Post"))
{
    //<input asp-for="CommonName" type="hidden" value="" />

    <label asp-for="Type" class="control-label">Type</label>
    <input type="text" name="Type" class="form-control" value="" />

    <label asp-for="CommonName" class="control-label">CommonName</label>
    <input type="text" name="CommonName" class="form-control" value="" />

    <label asp-for="ScientificName" class="control-label">ScientificName</label>
    <input type="text" name="ScientificName" class="form-control" value="" />

    <label asp-for="Region" class="control-label">Region</label>
    <input type="text" name="Region" class="form-control" value="" />

    <label asp-for="Uses" class="control-label">Uses</label>
    <input type="text" name="Uses" class="form-control" value="" />

    <label asp-for="Light" class="control-label">Light</label>
    <input type="text" name="Light" class="form-control" value="" />

    <label asp-for="Moisture" class="control-label">Moisture</label>
    <input type="text" name="Moisture" class="form-control" value="" />

    <label asp-for="Notes" class="control-label">Notes</label>
    <input type="text" name="Notes" class="form-control" value="" />

    <input type="submit" value="Create Plant" class="btn btn-primary" />
}