@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4" style="font-size: 90px;" >
        Virginia Native Flora
    </h1>
    <div class="badge bg-translucent text-wrap" style="width: 50rem;" >
        <p>
            “Because life is fueled by the energy captured from the sun by plants, it will be the
            plants that we use in our gardens that determine what nature will be like 10, 20, and
            50 years from now.” - Douglas Tallamy
        </p>

    </div>
    
</div>

